<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxCrmConnectionTimeOutMinutes" value="20" />
    <add key="ActionCommandLineText" />
    <add key="ActionPrefixesWhitelist" />
    <add key="ActionPrefixesToSkip" />
    <add key="ActionsWhitelist" />
    <add key="ActionsToSkip" />
    <add key="AddDebuggerNonUserCode" value="True" />
    <add key="AddNewFilesToProject" value="True" />
    <add key="AddOptionSetMetadataAttribute" value="True" />
    <add key="CamelCaseClassNames" value="False" />
    <add key="CamelCaseMemberNames" value="False" />
    <add key="CreateOneFilePerAction" value="True" />
    <add key="CreateOneFilePerEntity" value="False" />
    <add key="CreateOneFilePerOptionSet" value="False" />
    <add key="DeleteFilesFromOutputFolders" value="False" />
    <add key="EntityAttributeSpecifiedNames" />
    <add key="EntitiesToSkip" />
    <add key="EntityPrefixesToSkip" />
    <add key="EntityPrefixesWhitelist" />
    <add key="FilePrefixText" />
    <add key="GenerateActionAttributeNameConsts" value="False" />
    <add key="GenerateAttributeNameConsts" value="False" />
    <add key="GenerateAnonymousTypeConstructor" value="True" />
    <add key="GenerateConstructorsSansLogicalName" value="False" />
    <add key="GenerateEntityRelationships" value="True" />
    <add key="GenerateEntityTypeCode" value="False" />
    <add key="GenerateEnumProperties" value="True" />
    <add key="GenerateOnlyReferencedOptionSets" value="True" />
    <add key="GenerateOptionSetMetadataAttribute" value="True" />
    <add key="InvalidCSharpNamePrefix" value="_" />
    <add key="MakeAllFieldsEditable" value="False" />
    <add key="MakeReadonlyFieldsEditable" value="False" />
    <add key="MakeResponseActionsEditable" value="False" />
    <add key="LocalOptionSetFormat" value="{0}_{1}" />
    <add key="OptionSetPrefixesToSkip" />
    <add key="OptionSetsToSkip" />
    <add key="OptionSetCommandLineText" />
    <add key="OptionSetLanguageCodeOverride" />
    <add key="ProjectNameForEarlyBoundFiles" />
    <add key="PropertyEnumMappings" />
    <add key="ReadSerializedMetadata" value="False" />
    <add key="RemoveRuntimeVersionComment" value="True" />
    <add key="ReplaceOptionSetPropertiesWithEnum" value="True" />
    <add key="SerializeMetadata" value="False" />
    <add key="TokenCapitalizationOverrides" value="AccessTeam|ActiveState|BusinessAs|CardUci|DefaultOnCase|EmailAnd|FeatureSet|IsMsTeams|IsPaiEnabled|IsSopIntegration|O365Admin|OnHold|OwnerOnAssign|ParticipatesIn|PartiesOnEmail|PauseStates|SentOn|SlaId|SlaKpi|SyncOptIn|Timeout|UserPuid|VoiceMail|Weblink" />
    <add key="UseDeprecatedOptionSetNaming" value="False" />
    <add key="UnmappedProperties" value="duplicaterule:BaseEntityTypeCode,MatchingEntityTypeCode|invoicedetail:InvoiceStateCode|leadaddress:AddressTypeCode,ShippingMethodCode|organization:CurrencyFormatCode,DateFormatCode,TimeFormatCode,WeekStartDayCode|quote:StatusCode|quotedetail:QuoteStateCode|salesorderdetail:SalesOrderStateCode" />
    <add key="UseTfsToCheckoutFiles" value="False" />
    <add key="WaitForAttachedDebugger" value="False" />
  </appSettings>
</configuration>
